@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

body {
  background-image: url("../images/bg-desktop.svg");
  background-color: hsl(257, 40%, 49%);
  max-width: 1440px;
  color: #FFF;
}

.page {
  margin: auto 60px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.header__logo {
  width: 200px;
  margin-top: 40px;
}

.container__image {
  height: auto;
  min-width: 500px;
  max-width: 680px;
  margin-right: 24px;
}

.container__info {
  margin-top: 54px;
}

.container__title {
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; 
  max-width: 487px;
  margin-bottom: 24px;
}

.container__p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  max-width: 520px;
  margin-bottom: 24px;
}

.container__button {
  color: #684BB1;
  padding: 10px 35px;
  border-radius: 28px;
  box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.26);
}

.container__button:hover {
  background-color:hsl(300, 69%, 71%);
  color:#fff;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.fa-brands {
  margin-right: 15px;
  font-size: 25px;
  
}

.fa-brands:hover {
  color:hsl(300, 69%, 71%);
  cursor: pointer;
}

/*Tablet screens*/
@media only screen and (max-width: 1024px) {

  .page {
    margin: auto 30px;
  }

  .header__logo {
    width: 200px;
    margin-top: 30px;
  }

  .container__image {
    height: 300px;
    max-width: 440px;
    min-width: 400px;
  }

  .container__title {
    font-size: 30px;
    line-height: 40px; 
    margin-bottom: 14px;
  }

  .container__info {
    margin-top: 34px;
  }
}


/*Smart phone screens*/
@media only screen and (max-width: 742px) {

  .page {
    margin: auto 20px;
  }

  .header__logo {
    width: 140px;
    margin-top: 30px;
  }

  .container {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

  .container__info {
    margin-top: 54px;
    display: flex;
    flex-direction: column;
  }

  .container__image {
    height: auto;
    min-width: 300px;
    max-width: 100%;
    margin-right: 0;
  }

  .container__title {
    font-size: 24px;
    line-height: 36px; 
    margin-bottom: 24px;
    text-align: center;
  }

  .container__p {
    text-align: center;
  }

  .container__button {
    width: 200px;
    margin: auto;
    margin-bottom: 60px;
  }

  .footer {
    justify-content: center;
    margin-bottom: 40px;
  }

}